<h1>Chapters</h2>

<%= @chapters.each do |f| %>
	<li><%= link_to f.title, chapter_path(f[:id]) %></br>
	<%= link_to "edit", edit_chapter_path(f[:id]) %>
	<%= link_to "delete", f, method: :delete, data: { confirm: " You sure?"} %>
</li></br>
<% end %>

<%= link_to "New Chapter", new_chapter_path %>

